 *{
     margin: 0;
     padding: 0;
 }
body {
    background-color: papayawhip;
}

h1 {
    font-size: 60px;
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: white;
    background-color: #025157;
    font-size: 14px;
    height: 45px;
    font-weight: 600;
    margin-left: 0px;
    padding: 12px 12px 6px;
    border-radius: 12px;
}

.fixed-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

.header {
 
    margin: 20px 20px 0 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
}

li{
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.logo > img {
    height: 100%;
}

.navbar{
    width: 100%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}
.navbar li {
    margin: 0 20px 0 20px;
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px 0 10px;
}
.actions a{
    color: #025157;
}

.actions button{
    color: white;
    background-color: #025157;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}

.contenido{

    margin: 150px 20px 0 20px;
}

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.publicidad h3{
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publicidad > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publicidad > form {
    display: flex;
}

.publicidad > form p {
    color: #025157;
    margin-right: 18px;
}

.videoPromo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:20px ;
}

.videoPromo img {
    width: 120px;
    margin-top: 10px;
}

.success-stories{
    display: flex; 
    background-color: #a1d683;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
}

.overview{
    flex: 2;
    padding-right: 100px;
}

.overview h2 {
    font-family: Alegreya, serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.overview figure {
    margin-top: 32px;
}

.overview img {
    width: 500px;
    max-width: 100%;
}

.stories-carousel{
    flex: 1;
}

.card {
    display: block;
   
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.card-media{

    position: relative;
}

.card-media img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.company {
    position: absolute;
    bottom: -25px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company img {
    max-width: 75%;
}

.card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.results {
    display: flex;
    align-items: center;
    color: #828282;
}

.results img {
    width: 26px;
    margin-right: 20px;
}

.card-footer, .card-body {
    margin-bottom: 20px;
    padding: 25px;
}

.card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}
.features{
    display: grid;
   /* grid-template-columns:  100px 300px; */
  /* grid-template-columns: repeat(2, 300px);*/
 /* grid-template-columns: 500px 1fr; */
    grid-template: repeat(2,300px) / repeat(2,1fr);
    background-color: #025157;
    padding: 5% 10%;
    margin: 0 -10px 0 -10px;
    font-family: Arial, Helvetica, sans-serif;
}

  
  .features .feature-art {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-art .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-art .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-art .feature-content img {
    width: 50px;
  }
  
  .features .feature-art .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-art .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-art .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-art .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-art .feature-image figure,
  .features .feature-art .feature-image img {
    margin-top: 0;
    height: 100%;
  }
  
  .how-does-matcha {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 5% 10%;
    background-color: #fffbf7;
  }
  
  .how-does-matcha .how-does-matcha-header {
    grid-column: 1/5;
  }
  
  .how-does-matcha .how-does-matcha-header h2 {
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 1200;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
  }
  
  .how-does-matcha .how-does-matcha-header p {
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  
  .how-does-matcha .how-does-matcha-header p strong {
    color: #67b54b;
  }
  
  .how-does-matcha .how-does-matcha-header button {
    background-color: #025157;
    color: white;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .how-does-matcha .how-does-matcha-card {
    display: grid;
    grid-template-rows: 350px 1fr;
    margin-top: 70px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .how-does-matcha .how-does-matcha-card .card-img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .how-does-matcha .how-does-matcha-card .card-img img {
    width: 100%;
    height: 100%;
  }
  
  .how-does-matcha .how-does-matcha-card .card-img .card-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
    height: auto;
  }
  
  .how-does-matcha .card-content {
    padding: 20px;
    text-align: left;
  }
  
  .how-does-matcha .card-content h3 {
    font-size: 30px;
    line-height: 36px;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .how-does-matcha .card-content p {
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
    margin-bottom: 40px;
  }
  
  .how-does-matcha .card-content a {
    font-size: 16px;
    line-height: 1;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
    margin-top: 100px;
  }
  /* moviles verticales */
  @media (max-width: 575px)
 {/*
      .navbar, .actions{
          display: none;
      }*/
      body{
 background-color: lightpink;
      }
      h1 {
          font-size: 20px;
      }
      main{
          margin-top: 100px;
      }

      .publish > form  {
          display: flex;
        flex-direction: column;
      }
    
      .publish > form > div {
        height: 50px;
        margin-top: 10px;
      }
    
      .publish > form > div > input {
        width: 65%;
      }

      .promo {
          display: flex;
        flex-direction: column;
        flex-wrap: wrap;     
        max-width: 80%;
      }
    .videoPromo{
        align-content: center;
        justify-content: center;
    }
      .videoPromo > video {
        width: 100%;
      }
    
      .publish {
        margin-top: 10px;
      }
    
      .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
      }
    
      .banner > img {
          width: 100%;
      }

      .features {
          display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
      }
      
      .feature-image {
        display: none;
      }
   
    }


/* moviles dispositivos landscape pequenos (horizontales) */
@media (min-width:576px) and (max-width: 767px){

  }
/* medianos (tablets) */
@media (min-width:768px) and (max-width: 991px){

}
/* desktop*/
@media (min-width:992px) and (max-width: 1199px){

}
/* monitores grandes, tv */
@media (min-width:1200px) {

}

.botos{
  margin: 0 20px 0 20px;
  padding:0 20px 0 20px;
}

.botos > a{
  padding-right: 40px;
}
.carousel-inner{
   height: 800px;
}

.caracteristicas{
  background-color: #025157;
}

.blog {
  background-color: #fff;
  max-width: unset;
  padding: 5% 10%;
}

.blog .title,
.footer h2 {
  color: #025157;
  font-family: "Alegreya", serif;
}

.blog .process-list {
  margin-top: 40px;
  margin-bottom: 36px;
}

.blog .process-list .process {
  margin-bottom: 25px;
}

.blog .process .process-icon {
  /* flex: 2; */
  width: 60px;
  height: 60px;
  margin-right: 10px;
  color: #6abf4b;
  text-align: center;
}

.blog .process .process-icon img {
  height: 100%;
}

.blog .process > div > h3 {
  color: #025157;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}

.blog .process > div > p {
  color: #135359;
  margin: 0;
}

.blog button {
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 12px;
  width: 180px;
  margin-bottom: 15px;
}

.blog .card-title {
  font-size: 24px;
  color: #4a4a4a;
}

.blog .metadata {
  font-weight: 500;
  font-size: 14px;
  color: #979797;
}

.blog .metadata .category {
  color: #67b54b;
}

.blog .card-text {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 1.5em;
  min-height: 6em;
}

.blog .card-text .read-more a {
  text-decoration: underline;
}

.blog .author img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.blog .author p {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #4a4a4a;
}

.col {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  clear: both;
}